@media screen and (max-width: 1023px) {
  .menu-lateral {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .menu-lateral {
    display: block;
    max-width: 10em;
    width: 10em;
    height: 100vw;
  }

  .rodape__menu-lateral {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--branco-claro);
    border: none;
  }

  .lista__menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
    padding: 2em 5em 2em 1.7em;
    width: 100%;
  }

  .rodape__menu-lateral img {
    width: 1.8em;
    height: 1.8em;
  }

  .menu-lateral__opcao {
    display: flex;
    flex-direction: row;
  }

  .menu-lateral__opcao-texto {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    gap: 1em;
  }
}