@media screen and (max-width: 1023px) {
  .menu-lateral {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .menu-lateral__conteudo {
    position: fixed;
    max-width: var(--espaço-menu-lateral);
    width: var(--espaço-menu-lateral);
    height: 100vw;
    background-color: var(--branco-claro);
    top: 0;
    border-right: 0.5em solid rgb(201, 200, 200);
  }

  .menu-lateral {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
  }

  .lista__menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    padding: 3.5em 0 0 2em;
    width: 100%;
  }

  .menu-lateral img {
    width: 1.7em;
    height: 1.7em;
  }

  .menu-lateral__opcao-texto {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    gap: 1em;
    text-decoration: none;
    color: var(--preto-texto-destaque);
    font-weight: 400;
    align-items: center;
  }
}