.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.botoes-flutuantes__config {
  display: flex;
  flex-direction: column-reverse;
}

.botao-flutuante__opcoes {
  width: 5em;
  height: 6em;
  margin-left: calc(100% - 5em);
  background-image: url(../img/Botão\ flutuante.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.botao-flutuante__input:checked ~ .botao-flutuante > .botao-flutuante__opcoes {
  background-image: url(../img/Botão\ flutuante\ Aberto.svg);
  z-index: 2;
  position: relative;
}

.botao-flutuante__input {
  display: none;
}

.botoes-flutuantes {
  display: none;
}

.botao-flutuante__consulta-local {
  width: 5em;
  height: 6em;
  background-image: url(../img/Botão\ Consulta\ Local.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.botao-flutuante__consulta-video {
  width: 5em;
  height: 6em;
  background-image: url(../img/Botão\ Consulta\ por\ Vídeo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.consulta-local__texto,
.consulta-video__texto {
  display: flex;
  align-items: center;
  background-color: white;
  text-align: center;
  height: 2em;
  border-radius: 1em;
  padding: 0 0.8em;
}

.botao-flutuante__input:checked ~ .botoes-flutuantes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  z-index: 2;
  position: relative;
}

.overlay-escuro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Inicia oculta */
  z-index: 1; /* Ajuste este valor se houver conflito com outros elementos */
}

/* Exibir a camada escura quando o checkbox estiver marcado */
.botao-flutuante__input:checked ~ .overlay-escuro {
  display: block;
}

.rodape__menu {
  background-color: var(--branco-claro);
  border: none;
  border-radius: 2em 2em 0 0;
  padding: 1em 0;
}

.rodape__lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rodape__opcao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape__opcao-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  text-decoration: none;
  color: var(--preto-texto-destaque);
  font-weight: 400;
}

.rodape__menu-lateral {
  display: none;
}

@media screen and (min-width: 768px) {
  .botao-flutuante__opcoes {
    display: none;
  }

  .rodape__lista {
    padding: 0 15em;
  }

  .rodape__menu-lateral {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: none;
  }
}
