.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.rodape__flutuante {
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
}

.botao-flutuante {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 7em;
  width: 7em;
}

.rodape__menu {
  background-color: var(--branco-claro);
  border: none;
  border-radius: 2em 2em 0 0;
  padding: 1em 0;
}

.rodape__lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rodape__opcao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape__opcao-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  text-decoration: none;
  color: var(--preto-texto-destaque);
  font-weight: 400;
}

.rodape__menu-lateral {
  display: none;
}

@media screen and (min-width: 768px) {
  .rodape__lista {
    padding: 0 15em;
  }

  .rodape__menu-lateral {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    height: 100%;
    width: 20%;
    position: fixed;
  }

  .rodape__menu {
    display: none;
  }

  .rodape__menu-lateral {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--branco-claro);
    border: none;
  }

  .rodape__lista-lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
    padding: 2em 5em 2em 2em;
    width: 100%;
  }

  .rodape__menu-lateral img {
    width: 1.8em;
    height: 1.8em;
  }

  .rodape__opcao {
    display: flex;
    flex-direction: row;
  }

  .rodape__opcao-texto {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    gap: 1em;
  }

  .rodape__flutuante {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
