.header__usuario {
  padding: 2.6em 10em 1.8em 1.4em;
  display: flex;
  align-items: center;
  gap: 1.3em;
}

.boas-vindas__usuario {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.quantidade__consultas {
  font-size: 14px;
  font-weight: 400;
  color: var(--cinza-texto-detalhe);
}

@media screen and (min-width: 1024px) {
  .header__usuario {
    width: calc(100% - var(--espaço-menu-lateral));
    margin-left: var(--espaço-menu-lateral);
    padding: 2.6em 10em 2.6em 4em;
    width: 100%;
    height: 100%;
  }
  
  .foto-perfil__usuario {
    height: 8em;
    width: 8em;
  }

  .boas-vindas__usuario {
    font-size: 31px;
  }

  .quantidade__consultas {
    font-size: 18px;
  }
}